:root {
    --dark-color: rgb(18, 31, 37);
    --light-color: rgb(224, 226, 229);
}

/*Default ---------------------------*/
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

img {
    width: 350px;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
}


/*Nav Bar ---------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: var(--dark-color);
    padding: 10px;
    display: flex;
    justify-content: end;
}

nav a {
    text-decoration: none;
    color: var(--light-color);
}

nav ul li a {
    padding-right: 15px;
}

nav a:hover {
    color: #8f8f8f;
}


#menu {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#menu-toggle {
    display: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
}

#menu.active {
    display: flex;
}


/*Hero Section ---------------------------*/
.hero {
    background-image: url('../img/samuel-berner-kcvEQb7GXZc-unsplash.jpg');
    background-position: 50%;
    background-size: cover;
    padding: 60px 60px 100px;
    color: var(--light-color);
}

.hero h1, .film-title h1 {
    text-align: center;
    font-size: 34px;
}


/* About --------------------------------*/
.about, #movie, .about-page {
    background-color: #e8ecf0;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
}
  
.about-section, #movie-section {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
}

.about-section p {
    justify-content: center;
    align-items: center;
}

.about-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Films ----------------------------*/
#movies {
    background-color: var(--light-color);
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: center;
}

#movies img {
    width: 250px;
}

.film-title {
    text-align: center;
    margin-top: 0;
}
  
#all-movies {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    text-align: center;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}


/*Films - Details ----------------------------*/
.film-header {
    color: var(--light-color);
    text-align: center;
    background-image: url('../img/hoyoun-lee-NiJf9mB79Qo-unsplash.jpg');
    background-position: 50%;
    background-size: auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

.movie-section {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 60px;
    align-items: center;
  }
  
  .image-column {
    flex: 0 0 auto; 
  }
  
  .text-column {
    flex: 1; 
    margin-left: 20px; 
  }
  
.film-gallery {
    background-color: var(--dark-color);;
    padding-top: 20px;
    padding-bottom: 60px;
}

.film-gallery h2 {
    color: var(--light-color);
    text-align: center;
    padding-bottom: 20px;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 40px;
  }

.trailer-section {
    background-color: var(--light-color);
    padding: 10px 60px 60px;
    text-align: center;
  }

#trailer iframe {
    width: 560px;
    height: 315px;
}


/*About Page -----------------------*/
.about-page img {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-page {
    padding-left: 80px;
    padding-right: 80px;
}


/*Footer ---------------------------*/
footer {
    color: var(--light-color);
    background-color: var(--dark-color);
    padding: 10px 10px 5px;
    position: relative;
    text-align: center;
}


/*Media Screens --------------------*/

@media screen and (max-width: 768px) {
    .about-section {
        grid-template-columns: 1fr;
        margin-left: 40px;
        margin-right: 40px;
      }

    #all-movies {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
    }
}
  
  
@media screen and (max-width: 568px) {
    .hero {
        padding: 20px 20px 35px;
    }

    .about-page {
        padding-left: 40px;
        padding-right: 40px;
    }

    .about-page img {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    #menu-toggle {
        display: block;
    }
    #menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: var(--dark-color);
        padding: 20px;
        border-radius: 10px;
    }

    .about-section img {
        width: 175px;
    }

    .about-img {
        display: flex; 
        justify-content: center;
    }

    #all-movies {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }

}